<html xmlns:th="http://www.thymeleaf.org" >
<p th:if="${not #lists.isEmpty(streams)}" style="font-size:24px;" class="mt-3 mb-0"><a href="#" style="text-decoration: none;color:#303030;">正在直播</a></p>
 <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4" >
    <div class="col my-3 " th:each="v,vStat:${streams}">
    	<div th:if="${vStat.index<4}" class="bg-white pb-2">
		    <div>
			    	<div  class="bg-white pb-2">
					    <a th:href="@{'/liveDetails?id='+${v.id}}" class="text-dark" target="_blank" >
							<img src="/res/dist/img/default_live.png" width="100%" class="bg-secondary">
					    </a>
				    </div>
				    <div class="d-flex">
						<b class="flex-grow-1 ml-2"><span  th:text="${v.name}">标题</span></b>  
						<span>在线人数:<font color="red"><b th:text="${v.clients-1}">30</b></font></span>  
					</div>	
				</div>
	    </div>
    </div><!-- poster="//vjs.zencdn.net/v/oceans.png"  -->
</div>
</html>